[git]
    autoCommit = true
    autoPush = true

[diff]
    command = "code"
    args = [
        "--wait",
        "--diff",
        "{{ `{{ .Destination }}` }}",
        "{{ `{{ .Target }}` }}"
    ]

[merge]
    command = "bash"
    args = [
        "-c",
        "cp {{ `{{ .Target }}` }} {{ `{{ .Target }}` }}.base && code --wait --new-window --merge {{ `{{ .Destination }}` }} {{ `{{ .Target  }}` }} {{ `{{ .Target }}` }}.base {{ `{{ .Source }}` }}"
    ]
